# This is the about - String, List and Tuples

In [7]:

# String
x = "new"
print(x[2])

# list
lst = ['cow', 'dog', 'monkey']
print(lst[1])

#tuple
tup = ('mamatha', 'srinivas', 'sandeep', 'rajeev')
print(tup[0])

w
dog
mamatha

# Slicing - slicing out substring, sublist, subtuple
# "[start: end+1: step]"

In [15]:
str = 'Computer'
print(str[1:4])
print(str[1:8:2])
print(str[3:])
print(str[:5])
print(str[-1])
print(str[-3:])
print(str[:-2])

omp
optr
puter
Compu
r
ter
Comput

# Adding/ Concatinating - using '+' operator

In [21]:
# string concat
x = 'horse' + 'shoe'
print(x)

# list concat
y = ['ram', 'sam', 'bam'] + ['tom', 'lan']
print(y)

# tuple concat
z = ('summi', 'lummi') + ('tummy',)
print(z)

horseshoe
['ram', 'sam', 'bam', 'tom', 'lan']
('summi', 'lummi', 'tummy')

# Multiplying - multiply sequence using '*' operator

In [ ]:
x = 'ran' * 4
print(x)